.container-fluid > h1.lead {
    padding: 10px;
}

.form-group {
    padding: 10px 0;
}

.form-check-input {
    margin-right: 10px;
}

select.form-control {
    appearance: auto;
}

textarea.form-control {
    min-height: 100px;
    max-height: 200px;
    height: 100px;
}
